<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0"
    xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
    <persistence-unit name="PersistenceJpa" transaction-type="RESOURCE_LOCAL">
        <!-- Persistence provider -->
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <!-- Entity classes -->
        <class>com.example.hibernate.entity.Especialidad</class>
        <class>com.example.hibernate.entity.Medico</class>

        <properties>
            <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/consultoriomedico" />
            <property name="javax.persistence.jdbc.user" value="root" />
            <property name="javax.persistence.jdbc.password" value="root" />
            
            
            <property name="hibernate.cache.use_query_cache" value="true"/>
            <!-- Enabling Second-Level Caching -->            
		    <property name="hibernate.cache.use_second_level_cache" value="true"/>
		    <property name="hibernate.cache.region.factory_class" value="org.hibernate.cache.ehcache.EhCacheRegionFactory"/>
		                
                    <property name="hibernate.show_sql" value="true"/>
                    <property name="format_sql" value="true"/>
        </properties>
    </persistence-unit>
</persistence>